<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles Del Departamento</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${departamentoTrabajoNARA.id}"></dd>

            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${departamentoTrabajoNARA.NombreNARA}"></dd>

            <dt class = "col-sm-2">Telefono</dt>
            <dd class = "col-sm-10" th:text="${departamentoTrabajoNARA.TelefonoNARA}"></dd>

            <dt class = "col-sm-2">Jefe</dt>
            <dd class = "col-sm-10" th:text="${departamentoTrabajoNARA.JefeNARA}"></dd>
        </dl>

        <a th:href="@{/Departamentos/Edit/{id} (id = ${departamentoTrabajoNARA.id}) }" class="btn btn-outline-info">Editar</a> |
        <a th:href="@{/Departamentos}">Regresar</a>
    </div>
</div>